<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoshare.bi.mapper.BiChartDashInfoMapper">
  <resultMap id="BaseResultMap" type="com.zoshare.bi.model.BiChartDashInfo">
    <!--@mbg.generated-->
    <id column="_id" jdbcType="BIGINT" property="id" />
    <result column="objectId" jdbcType="VARCHAR" property="objectId" />
    <result column="ACL" jdbcType="OTHER" property="acl" />
    <result column="createdAt" jdbcType="TIMESTAMP" property="createdat" />
    <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedat" />
    <result column="dashboard" jdbcType="VARCHAR" property="dashboard" />
    <result column="chart" jdbcType="VARCHAR" property="chart" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    _id, objectId, ACL, createdAt, updatedAt, dashboard, chart
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update bi_chart_dash_info
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="objectId = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when _id = #{item.id,jdbcType=BIGINT} then #{item.objectId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ACL = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when _id = #{item.id,jdbcType=BIGINT} then #{item.acl,jdbcType=OTHER}
        </foreach>
      </trim>
      <trim prefix="createdAt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when _id = #{item.id,jdbcType=BIGINT} then #{item.createdat,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updatedAt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when _id = #{item.id,jdbcType=BIGINT} then #{item.updatedat,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="dashboard = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when _id = #{item.id,jdbcType=BIGINT} then #{item.dashboard,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="chart = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when _id = #{item.id,jdbcType=BIGINT} then #{item.chart,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where _id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="_id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bi_chart_dash_info
    (objectId, ACL, createdAt, updatedAt, dashboard, chart)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.objectId,jdbcType=VARCHAR}, #{item.acl,jdbcType=OTHER}, #{item.createdat,jdbcType=TIMESTAMP}, 
        #{item.updatedat,jdbcType=TIMESTAMP}, #{item.dashboard,jdbcType=VARCHAR}, #{item.chart,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="_id" keyProperty="id" parameterType="com.zoshare.bi.model.BiChartDashInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bi_chart_dash_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        _id,
      </if>
      objectId,
      ACL,
      createdAt,
      updatedAt,
      dashboard,
      chart,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{objectId,jdbcType=VARCHAR},
      #{acl,jdbcType=OTHER},
      #{createdat,jdbcType=TIMESTAMP},
      #{updatedat,jdbcType=TIMESTAMP},
      #{dashboard,jdbcType=VARCHAR},
      #{chart,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        _id = #{id,jdbcType=BIGINT},
      </if>
      objectId = #{objectId,jdbcType=VARCHAR},
      ACL = #{acl,jdbcType=OTHER},
      createdAt = #{createdat,jdbcType=TIMESTAMP},
      updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      dashboard = #{dashboard,jdbcType=VARCHAR},
      chart = #{chart,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="_id" keyProperty="id" parameterType="com.zoshare.bi.model.BiChartDashInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bi_chart_dash_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        _id,
      </if>
      <if test="objectId != null">
        objectId,
      </if>
      <if test="acl != null">
        ACL,
      </if>
      <if test="createdat != null">
        createdAt,
      </if>
      <if test="updatedat != null">
        updatedAt,
      </if>
      <if test="dashboard != null">
        dashboard,
      </if>
      <if test="chart != null">
        chart,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="acl != null">
        #{acl,jdbcType=OTHER},
      </if>
      <if test="createdat != null">
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="dashboard != null">
        #{dashboard,jdbcType=VARCHAR},
      </if>
      <if test="chart != null">
        #{chart,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        _id = #{id,jdbcType=BIGINT},
      </if>
      <if test="objectId != null">
        objectId = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="acl != null">
        ACL = #{acl,jdbcType=OTHER},
      </if>
      <if test="createdat != null">
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="dashboard != null">
        dashboard = #{dashboard,jdbcType=VARCHAR},
      </if>
      <if test="chart != null">
        chart = #{chart,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>